.instruction{
    border: 1px solid rgb(39, 131, 131);
    border-radius: 5px;
    padding: 10px;
}

.instruction:hover{
    cursor: help;
    opacity: 0.7;
}

.response__item{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(201, 213, 213);
}

.response__item:hover{
    background: -webkit-linear-gradient(rgb(138, 192, 192),rgb(69, 66, 66));
    -webkit-text-fill-color: white;
    color: white;
}

.calc__button{
    width: 97.5%;
    margin: 5px 20px 20px;
    height: max-content;
    background: rgb(51, 46, 47);
    color: white;
    border-radius: 4px;
    font-size: 1.5em;
    cursor: pointer;
}

.calc__button:hover{
    color: rgb(116, 197, 197);
    -webkit-box-shadow: 0px 14px 23px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 23px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 23px -14px rgba(0,0,0,0.75);
}

select,input{
    border-radius: 5px;
    color: rgb(38, 60, 60);
    background: rgb(200, 221, 221);
}

@media (max-width: 768px){
    .calc__button{
        width: 90%;
        font-size: 1.2em;
    }
    .response__item{
        width: 77%;
        margin-left: 20px;
        overflow-x: auto;
    }

    
}

