.container__{
    overflow: hidden;
    padding-top: 12%;
    margin-left: 20px;
}

h2{
    font-size: 2em;
    margin: 5px;
    background: -webkit-linear-gradient(#008b8b,rgb(69, 66, 66));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: white;
}

h3{
    margin: 10px;
}

li{
    margin: 10px;
}

.response__container{
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    background:#dce4e4;
    grid-auto-rows: minmax(auto,auto);
    -webkit-box-shadow: 2px 1px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 21px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.style__container{
    margin: 2px;
    padding: 2px;
}

.instruction__{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.result__{
    font-size: 20px;
    color: red;
    border: 1px dotted black;
    width: max-content;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.learning__effect{
    font-size: 18px;
    font-family: monospace;
    white-space: nowrap;
    border-right: 2px solid;
    overflow: hidden;
    animation: typing 2s steps(13), blink .5s infinite step-end alternate;
}

.algorithm__form{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
}

.form__item_group{
    padding: 10px;
    background:rgb(220, 228, 228);
    margin-bottom: 10px;
}
.algorithm__form > label{
    margin-right: 5px;
}
.form__item{
    margin-top: 10px;
}

input[type="number"]{
    width: 100px;
}

input{
    font-size: 1.2em;
    text-align: center;
}

select{
    font-size: 1em;
}

@keyframes type {
    from {width: 0 }
}

@keyframes blink {
    50% {border-color: transparent;}
}

@media (max-width: 768px){
    .container__{
        padding-top: 0;
        margin: auto;
    }
    .instruction__{
        padding: 200px 20px 0;
        font-size: 14px;
    }
    .response__container{
        grid-template-columns: repeat(2,1fr);
        overflow-x: auto;
        margin: auto;
    }
    .algorithm__form{
        padding: 10px;
        text-align: center;
        margin-top: 10px;
    }

    .form__item_group{
        padding: 10px;
        background:rgb(220, 228, 228);
        margin-bottom: 10px;
    }
    .algorithm__form > label{
        margin-right: 5px;
    }
    .form__item{
        margin-top: 10px;
    }

    input[type="number"]{
        width: 50px;
    }

    .result__{
        overflow-x: scroll;
    }

    
}